<div id="wrapper">   
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Dashboard and Heading-->
            <div class=row>
                <div class="col-sm-12">
                    <h1 class="page-header">Employee Review</h1>
                    <br>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-home"></i> Home
                        </li>
                    </ol>
                </div>
            </div>
            <!--End of Dashboard and Heading-->
            <div class="jumbotron">
                <h1> {{message}} </h1>
                <p>This is an Employee review app.</p>
                <p><a href="#/login" class="btn btn-primary btn-lg" role="button">Login &raquo;</a> <a href="#/registration" class="btn btn-primary btn-lg" role="button">Create Account &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>
