<div id="wrapper" ng-init="loadProfileData()">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#/home">Employee Review</a>
        <ul class="nav navbar-right top-nav">
            <!--  top menu -->
            <li class="dropdown">
                <a href="#/login.html" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-power-off"></i> Log Out </a>
            </li>
            <!--  -->
        </ul>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <!-- Left menu items -->
                <li class="active">
                    <a href="#/profile">Profile</a>
                </li>
                <li>
                    <a href="#/task">Task</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" ng-init="getSkillS()">
        <div class="container-fluid">
            <!-- Dashboard and Heading-->
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-header">Welcome {{ firstName }}</h1>
                    <br>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i> <a href="#/home">Home</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Profile
                        </li>
                    </ol>
                </div>
            </div>
            <!-- End of dashboard -->
            <form ng-submit="updateUserProfile()">
                <div>
                    <div class="fileUpload">
                        <img class="ng-cloak" ngf-thumbnail="myFile" ng-show="!myFile === null" style="width:100px; height:100px;" />
                        <img class="ng-cloak" ng-src="{{user.profilePic}}" ng-show="myFile === null" style="width:100px; height:100px;" />
                        <br>
                        <input type="file" class="upload" file-model="myFile" id="fileInput" />
                    </div>
                    <button type="button" class="btn btn-link" ng-click="uploadFile()">update</button>
                    <br>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>User name: {{user.userName}}
                        </label>
                        <br>
                        <div style="display:none">
                            <input name="email" ng-model="user.userName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>First name:</label>
                        <input class="form-control" type="text" name="firstName" ng-model="user.firstName">
                    </div>
                    <div class="col-sm-3">
                        <label>Middle name:</label>
                        <input class="form-control" type="text" name="middleName" ng-model="user.middleName">
                    </div>
                    <div class="col-sm-3">
                        <label>Last name:</label>
                        <input class="form-control" type="text" name="lastName" ng-model="user.lastName">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Designation</label>
                        <select class="form-control" id="designation" name="designation" ng-model="user.designation">
                            <option value="junior developer">Junior Developer</option>
                            <option value="developer">Developer</option>
                            <option value="senior developer">Senior Developer</option>
                            <option value="Other">Other...</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Birth Date:</label>(MM-DD-YY)
                        <input class="form-control inputDate" type="text" placeholder="MM-DD-YY" id="birthDate" name="birthDate" ng-model="user.dateOfBirth">
                    </div>
                    <!--                     <div class="col-sm-3">
                        <label>Date of joining:(MM-DD-YY)</label>
                        <input class="form-control inputDate" type="text" id="joiningDate" name="joiningDate" ng-model="user.dateOfJoining" placeholder="MM-DD-YY">
                    </div> -->
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Team name: {{user.team}}</label>
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Skills:</label>
                        <div>
                            <chips ng-model="typeahead.userSkillArray">
                                <chip-tmpl>
                                    <div class="default-chip">
                                        {{chip}}
                                        <span class="glyphicon glyphicon-remove" remove-chip></span>
                                    </div>
                                </chip-tmpl>
                                <input ng-model-control ng-model="typeaheadmodel" uib-typeahead="skill for skill in typeahead.availableSkillsArray | filter:$viewValue"></input>
                            </chips>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newSkills" data-backdrop="static">Add </button>
                    </div>
                </div>
                <div class="row">
                    <div class=col-sm-6>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                    <div class=col-sm-6>
                        <label>
                            <br>
                        </label>
                    </div>
                </div>
            </form>
            <div class="modal fade" id="newSkills" role="dialog" ng-init="clearSkill()">
                <form ng-submit="addSkill()">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <label>Add skills</label>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-6">
                                        Skill :
                                        <input type="text" id="skills" name="skills" ng-model="skills" ng-change="clearSkill()" required>
                                        <label style="color:red" id="skillAlreadyExists" ng-show="skillAlreadyExists" ng-init="skillAlreadyExists=''">{{skillAlreadyExists}}</label>
                                        <label style="color:blue" id="skillAddedSuccessfully" ng-show="skillAddedSuccessfully" ng-init="skillAddedSuccessfully=''">{{skillAddedSuccessfully}}</label>
                                        <div>
                                            <br>
                                            <button class="btn btn-default" type="submit">Save</button>
                                            <button type="button" class="btn btn-default" ng-click="clearSkill()" data-dismiss="modal">cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
