<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <form ng-submit="register()">
                <!-- Dashboard and Heading-->
                <div class=row>
                    <div class="col-sm-12">
                        <h1 class="page-header">Registration Form</h1>
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i> <a href="/#home">Home</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Registration
                            </li>
                        </ol>
                    </div>
                </div>
                <!--End of Dashboard and Heading-->
                <div class="row">
                    <div class="col-sm-4">
                        <label>User name<sup style="color:red">*</sup>:</label>
                        <input class="form-control" type="email" ng-model="credentials.userName" id="usr" name="email" placeholder="email@example.com" required>
                        <br>
                        <label style="color:red" id="usernameErrorMessage" ng-show="usernameErrorMessage">{{usernameErrorMessage}}</label>
                    </div>
                </div>
                <div class="row">
                    <!--     -->
                    <div class="col-sm-4">
                        <label>Password<sup style="color:red">*</sup>:</label>
                        <input class="form-control" ng-model="credentials.password" type="password" name="password" id="password" required>
                    </div>
                    <div class="col-sm-4">
                        <label>Re-Enter Password<sup style="color:red">*</sup>:</label>
                        <input class="form-control" type="password" ng-model="credentials.confirmPassword" name="confirmpassword" id="confirmpassword" required>
                        <br>
                        <label style="color:red" id="errorMessage" ng-show="errorMessage">{{errorMessage}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class=col-sm-6>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
