@using GridMvc.Html
@using EmployeeReview.Models
@using GridMvc.Sorting

@{
    ViewBag.Title = "Index";
}
<h1></h1>
@if (Session["LoggedUserId"] != null)
{
 <text>
 <h1> Welcome @ViewBag.fname @ViewBag.lname !</h1>
 </text>


 @Html.ActionLink("LogOut", "LogOff", "Account");

}
@{
/*@Html.Grid().Columns(columns =>
           {
               columns.Add(ViewBag.item.C).Sortable(false).Filterable(true);
              // columns.Add(m => m.R).Sortable(false).Filterable(true);
           })
  */
foreach(var i in ViewBag.item)
{<h1>@i.TypeValue.ToString()</h1>}
  
  
  //@Html.Grid(Model).AutoGenerateColumns();
      }
 
