


@{
    ViewBag.Title = "Index";
}

@if (Session["LoggedUserId"] != null)
{
    <text>
      <h1>  Welcome  @ViewBag.fname @ViewBag.lname !</h1>
    </text>
    
    
    @Html.ActionLink("LogOut", "LogOff", "Account");
   
}
 
