<!doctype html>
<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sb-admin.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <title>Home</title>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <a class="navbar-brand" href="home.html">Employee Review</a>
                    <ul class="nav navbar-right top-nav">
                            <!--  top menu -->
                    </ul>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <!-- Left menu items -->
                           
                        </ul>
                    </div>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <!-- Dashboard and Heading--> 
                    <div class=row>
                        <div class="col-sm-12">
                             <h1 class="page-header">Employee Review</h1><br>
                             <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-home"></i> Home
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--End of Dashboard and Heading--> 
                    <div class="jumbotron">
                        <h1>Welcome</h1>
                        <p>This is an Employee review app.</p>
                        <p><a href="login.html" class="btn btn-primary btn-lg" role="button">Login &raquo;</a>  <a href="registration.html" class="btn btn-primary btn-lg" role="button">Create Account &raquo;</a>
                        </p>
                    </div>
                    
                </div>
            </div>
         </div>
    </body>
</html>         