<!doctype html>
<html>
    <head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sb-admin.css" rel="stylesheet">
        <script src="js/appscript.js"></script>
		<title>Home</title>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <a class="navbar-brand" href="login.html">Employee Review</a>
                    <ul class="nav navbar-right top-nav">
                            <!--  top menu -->
                            
                    </ul>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <!-- Left menu items -->
                            <li class="active">
                                <a>Home</a>
                            </li>
                            <li>
                                <a href="login.html"><i class="fa fa-fw fa-dashboard"></i>Login Page</a>
                            </li>
                            <li>
                                <a href="registration.html"><i class="fa fa-fw fa-edit"></i>Registration</a>
                            </li>
                        </ul>
                    </div>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class=row>
                        <div class="col-sm-12">
                             <h1 class="page-header">Welcome </h1><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>--Home Page--</label>
							<p><img src="images/htmlimg.jpg" alt="unable to load image" title="HTML5Image" ><<Temporary Image>></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>