<!doctype html>
<html>
    <head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sb-admin.css" rel="stylesheet">
        <script src="js/appscript.js"></script>
        <title>Login</title>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <a class="navbar-brand" href="login.html">Employee Review</a>
                    <ul class="nav navbar-right top-nav">
                            <!--  top menu -->
                    </ul>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <!-- Left menu items -->
                            <li class="active">
                                <a href="login.html"><i class="fa fa-fw fa-dashboard"></i>Login Page</a>
                            </li>
                            <li>
                                <a href="registration.html"><i class="fa fa-fw fa-edit"></i>Registration</a>
                            </li>
                        </ul>
                    </div>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class=row>
                        <div class="col-sm-12">
                             <h1 class="page-header">Login</h1><br>
                        </div>
                    </div>
                    <form name="login" action="/incomingUser" id="loginform" onsubmit="return true" method="POST">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>User name<sup style="color:red">*</sup>:</label>
                                <input class="form-control" type="email" id="user" name="email" placeholder="email@example.com" required><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Password<sup style="color:red">*</sup>:</label>
                                <input class="form-control" type="password" id="password" name="password" required>
								<label style="color:red">Incorrect password</label>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <div class=col-sm-3>
                                <button type="submit" class="btn btn-primary" >Login</button>
                                <button type="submit" class="btn btn-primary" onclick="window.location.href='registration.html'">New Registrstion</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
         </div>
    </body>
</html>         