<!doctype html>
<html>
    <head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sb-admin.css" rel="stylesheet">
		<title><%= user %></title>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <a class="navbar-brand" href="login.html">Employee Review</a>
                    <ul class="nav navbar-right top-nav">
                            <!--  top menu -->
                            
                    </ul>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <!-- Left menu items -->
                            <li class="active">
                                <a>Profile</a>
                            </li>
                            <li>
                                <a href="login.html"><i class="fa fa-fw fa-dashboard"></i>Login Page</a>
                            </li>
                            <li>
                                <a href="registration.html"><i class="fa fa-fw fa-edit"></i>Registration</a>
                            </li>
                        </ul>
                    </div>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class=row>
                        <div class="col-sm-12">
                             <h1 class="page-header">Welcome <%= firstName %></h1><br>
                        </div>
                    </div>
                    <form name="user" action="/update" onsubmit="return true" method="POST">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>User name:</label>
                                <input class="form-control" type="email" id="usr" name="email" placeholder="<%= user %>" value="<%= user %>"><br>
                            </div>
                        </div>
                        <div class="row">                        
                            <div class="col-sm-4">
                                <label>First name:</label>
                                <input class="form-control" type="text" name="firstName">
                            </div>
                            <div class="col-sm-4">
                                <label>Middle name:</label>
                                <input class="form-control" type="text" name="middleName" >
                            </div>
                            <div class="col-sm-4">
                                <label>Last name:</label>
                                <input class="form-control" type="text" name="lastName" ><br>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Designation</label>
                                <select class="form-control" id="designation" name="designation">
                                    <option value="junior developer">Junior Developer</option>
                                    <option value="developer">Developer</option>
                                    <option value="senior developer">Senior Developer</option>
                                    <option value="Other">Other...</option>
                                </select><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Birth date:</label>
                                <input class="form-control" type="date" id="dataOfBirth" name="dateOfBirth" placeholder="mm/dd/yy">
                            </div>
                            <div class="col-sm-6">
                                <label>Date of joining:</label>
                                <input class="form-control" type="date" id="dateOfJoining" name="dateOfJoining" placeholder="mm/dd/yy"><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Team name:</label>
                                <input class="form-control" type="text" name="teamName" ><br>
                            </div>
                            <div class="col-sm-6">
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Skills:</label>
                                <textarea class="form-control" rows="3" name="skills" ></textarea><br>
                            </div>
                            <div class="col-sm-6">
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class=col-sm-6>
                                <input type="submit" class="btn btn-default" value="Submit">
                            </div>
                            <div class=col-sm-6>
                                <label><br></label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>