<!doctype html>
<html>
    <head>
        
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sb-admin.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <title>Registration page</title>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <a class="navbar-brand" href="home.html">Employee Review</a>
                    <ul class="nav navbar-right top-nav">
                            <!--  top menu -->
                    </ul>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <!-- Left menu items -->
                            
                        </ul>
                    </div>
            </nav>
                <div id="page-wrapper">
                        <div class="container-fluid">
                            <form name="demo" action="/registrationdetails" onsubmit="return true" method="POST">
                                <!-- Dashboard and Heading--> 
                                <div class=row>
                                    <div class="col-sm-12">
                                        <h1 class="page-header">Registration Form</h1><br>
                                        <ol class="breadcrumb">
                                            <li>
                                                <i class="fa fa-home"></i>  <a href="home.html">Home</a>
                                            </li>
                                            <li class="active">
                                                <i class="fa fa-edit"></i> Registration
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <!--End of Dashboard and Heading--> 
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>User name<sup style="color:red">*</sup>:</label>
                                        <input class="form-control" type="email" id="usr" name="email" placeholder="email@example.com" value="<%= user %>" required><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--     -->
                                    <div class="col-sm-4">
                                        <label>Password<sup style="color:red">*</sup>:</label>
                                        <input class="form-control" type="password" name="password" id="password" required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Re-Enter Password<sup style="color:red">*</sup>:</label>
                                        <input class="form-control" type="password" name="confirmpassword" id="confirmpassword" required><br>
                                        <label style="color:red"><%= errorMessage %></label>
                                    </div>
                                </div><div class="row">
                                    <div class=col-sm-6>
                                        <input type="submit" class="btn btn-primary" value="Submit">
                                    </div>
                                    <div class=col-sm-6>
                                        <label><sup style="color:red">*</sup> Mandatory Fields<br></label>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
        </div>
    </body>
</html>
